:root {
  --font-family: "Kumbh Sans", sans-serif;
  --primary-text-color: hsl(219, 9%, 45%);
  --border-radius-large: 0.625rem;
  --border-radius-small: 0.5rem;
  --orange-accent-color: hsl(26, 100%, 55%);
  --light-orange-accent-color: hsl(26, 100%, 71%);
  --dark-grey-accent-color: hsl(220, 37%, 92%);
  --black-accent-color: hsl(218, 12%, 13%);
  --light-grey-accent-color: hsl(230, 60%, 98%);
  --hover-transition: 150ms ease-in-out;
  --box-shadow-small: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}

body {
  max-inline-size: 70rem;
  margin: auto;
  padding-inline: 3rem;
  font-family: var(--font-family);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 5rem;
  align-items: center;
  justify-content: center;
  gap: calc(2vw + 1rem);
}

header {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  border-block-end: 0.0625rem solid var(--dark-grey-accent-color);
}

nav {
  flex: 1;
}

header img {
  max-width: min-content;
}

nav a {
  margin-inline: 0.8rem;
  padding-block-end: 1.8rem;
  color: var(--primary-text-color);
  text-decoration: none;
}

nav a:hover {
  border-block-end: 0.25rem solid var(--orange-accent-color);
}

button {
  border-radius: var(--border-radius-large);
}

button:hover,
img:hover {
  cursor: pointer;
}

button,
a {
  transition: var(--hover-transition);
  border: none;
}

.button-add-to-cart,
p {
  font-size: 1rem;
}

footer {
  padding-block: 2rem 1rem;
}

.nav-menu-icon {
  margin-inline-end: 1rem;
}

.nav-menu-icon {
  display: none;
}

.account-details {
  display: flex;
  align-items: center;
}

.account-avatar {
  width: 3.1rem;
  height: 3.1rem;
  background-image: url("./images/image-avatar.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
}

.account-avatar:hover {
  box-shadow: 0 0 0 0.06rem var(--orange-accent-color);
}

.nav-cart {
  min-width: 4.25rem;
  min-height: 1.5rem;
  margin-inline-end: 0.5rem;
  background-image: url("./images/icon-cart-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.navbar-responsive {
  display: none;
}

.company-logo {
  margin-inline-end: 2.5rem;
}

.nav-cart:hover {
  background-image: url("./images/icon-cart.svg");
}

.shopping-cart-open {
  display: block;
  position: fixed;
  top: 11.5%;
  right: 5%;
  min-width: 22.5rem;
  min-height: 16rem;
  z-index: 2;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0.6rem 1.6rem -0.3rem rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: var(--primary-text-color);
  border-radius: var(--border-radius-small);
}

.shopping-cart-basket-filled {
  display: flex;
  min-width: fit-content;
  min-height: 3.25rem;
  align-items: center;
}

.shopping-cart-checkout-button {
  width: 100%;
  min-height: 3.25rem;
  background-color: var(--orange-accent-color);
  font-weight: bold;
  color: var(--black-accent-color);
}

.shopping-cart-checkout-button:hover {
  background-color: var(--light-orange-accent-color);
}

.shopping-cart-basket-filled .delete-product {
  min-width: 0.9rem;
  min-height: 1rem;
  background-image: url("./images/icon-delete.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border-radius: 0;
}

.shopping-cart-product-information {
  justify-content: center;
  margin: auto 1.5rem;
}

.shopping-cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 1.5rem;
  justify-content: center;
  gap: 1.5rem;
}

.shopping-cart-basket-filled .product-name {
  margin-block: 0;
  font-size: 1rem;
  font-weight: normal;
}

.shopping-cart-basket-filled .discount-price,
.shopping-cart-basket-filled .product-quantity-total {
  font-size: 1rem;
  font-weight: normal;
}

.shopping-cart-basket-filled .product-total-price {
  font-size: 1rem;
  color: var(--black-accent-color);
}

.shopping-cart-basket-filled span {
  margin-inline-end: 0.1rem;
}

.shopping-cart-basket-filled .product-thumbnail-cart {
  display: flex;
  max-width: 3.1rem;
  max-height: 3.1rem;
  align-items: center;
  border-radius: var(--border-radius-small);
}

.shopping-cart-header {
  margin-block-start: 0;
  padding: 1.5em;
  border-block-end: 0.0625rem solid var(--dark-grey-accent-color);
  color: var(--black-accent-color);
}

.shopping-cart-empty-message {
  display: flex;
  transform: translateY(100%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-images {
  position: relative;
  max-inline-size: 28rem;
}

.product-thumbnail-main {
  max-inline-size: 100%;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius-large);
}

.product-images span {
  display: grid;
  margin-block-start: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-thumbnail-small {
  max-inline-size: 100%;
  box-shadow: var(--box-shadow-small);
  border-radius: var(--border-radius-small);
}

.company-name {
  font-size: clamp(0.5rem, 0.75rem + 1.5vw, 0.8rem);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.product-description,
.company-name {
  color: var(--primary-text-color);
}

.product-description {
  font-size: clamp(0.5rem, 0.75rem + 1.5vw, 1rem);
}

.product-name {
  font-size: clamp(1.5rem, 1rem + 2vw, 2.75rem);
}

.product-prices {
  font-weight: bold;
}

.product-prices span {
  margin-inline-end: 0.5rem;
}

.discount-price {
  font-size: clamp(0.5rem, 0.75rem + 1vw, 1.75rem);
}

.discount-percentage {
  padding: 0.3rem 0.6rem;
  background: var(--black-accent-color);
  color: hsl(0, 0%, 100%);
  border-radius: var(--border-radius-small);
}

.original-price {
  margin-block-start: 1rem;
  color: var(--primary-text-color);
}

.quantity-button {
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--light-grey-accent-color);
  height: 1.25rem;
  width: 1.25rem;
}

.minus-product-button {
  background-image: url("./images/icon-minus.svg");
}

.add-product-button {
  background-image: url("./images/icon-plus.svg");
}

.add-product-button:hover,
.minus-product-button:hover {
  opacity: 0.7;
}

.product-quantity {
  display: grid;
  min-inline-size: 30%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background: var(--light-grey-accent-color);
  font-weight: bold;
  text-align: center;
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-small);
}

.product-quantity > * {
  margin: auto;
}

.product-add-to-cart {
  display: flex;
  position: relative;
  min-height: 3.5rem;
  min-inline-size: 100%;
  gap: 1rem;
}

.button-add-to-cart {
  min-inline-size: 65%;
  padding-inline: 2.3rem;
  background: var(--orange-accent-color);
  font-weight: bold;
  box-shadow: var(--box-shadow-small);
  white-space: nowrap;
  color: black;
}

.button-add-to-cart:hover {
  background: var(--light-orange-accent-color);
}

.button-add-to-cart img {
  max-width: 1rem;
  margin-inline-end: 0.8rem;
}

.light-box {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

.light-box .product-images {
  margin: auto;
}

.light-box .product-thumbnail-small {
  box-shadow: none;
  border: none;
}

.product-small-wrapper {
  display: flex;
  position: relative;
  margin: auto;
  padding: 0;
  border: none;
}

/*  THIS WILL BE THE EFFECT ON CLICK USING JAVASCRIPT */
/* .light-box .product-small-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 0 0.1rem var(--orange-accent);
}

.light-box .product-small-wrapper:hover::before {
  opacity: 1;
} */

.product-small-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: var(--border-radius-small);
}

.product-small-wrapper:hover::before {
  opacity: 1;
}

.light-box .close-button {
  display: flex;
  min-width: 1.25rem;
  min-height: 1.25rem;
  margin-inline-start: auto;
  margin-block-end: 1rem;
  align-items: center;
  justify-content: center;
  background-image: url("./images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.light-box .close-button:hover {
  background-image: url("./images/icon-close-hover.svg");
}

.product-main-wrapper {
  position: relative;
}

.light-box .arrow-button {
  position: absolute;
  min-width: 3.5rem;
  min-height: 3.5rem;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
}

.light-box .previous-button {
  right: 95%;
  background-image: url("./images/icon-previous.svg");
}

.previous-button:hover {
  background-image: url("./images/icon-previous-hover.svg");
}

.light-box .next-button {
  left: 95%;
  background-image: url("./images/icon-next.svg");
}

.next-button:hover {
  background-image: url("./images/icon-next-hover.svg");
}

.attribution {
  text-align: center;
  font-size: 0.7rem;
}
.attribution a {
  color: var(--orange-accent-color);
  text-decoration: none;
}

@media (width <= 65rem) {
  .product-prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  .original-price {
    margin-block: auto;
    text-align: end;
  }

  .discount-percentage {
    max-width: fit-content;
  }
}

@media (width <= 57rem) {
  nav {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-block-end: none;
  }

  .navbar-responsive {
    display: none;
    position: fixed;
    flex-direction: column;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding-block-end: 5rem;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
  }

  .navbar-responsive .close-button {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    margin: 1.6rem 0rem 3.1rem 1rem;
    background-image: url("./images/icon-close-navbar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }

  .navbar-responsive .close-button:hover {
    background-image: url("./images/icon-close-hover.svg");
  }

  .navbar-responsive a {
    width: fit-content;
    color: var(--black-accent-color);
  }

  .nav-menu-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url("./images/icon-menu.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    border-radius: 0;
  }

  .company-logo {
    margin-inline-end: 0;
  }

  .account-details {
    max-width: fit-content;
    margin-inline-start: auto;
    justify-content: end;
  }
}

@media (width < 48rem) {
  body {
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-block: 0;
  }

  header {
    margin-inline: 2rem;
  }

  main .arrow-button {
    display: block;
    position: absolute;
    min-width: 2.5rem;
    min-height: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--light-grey-accent-color);
    border-radius: 50%;
    border: none;
  }

  main .previous-button {
    right: 85%;
    background-image: url("./images/icon-previous.svg");
  }

  main .next-button {
    left: 85%;
    background-image: url("./images/icon-next.svg");
  }

  .product-images span {
    display: none;
  }

  .product-images {
    margin: auto;
  }

  .account-avatar {
    max-width: 2.2rem;
    max-height: 2.2rem;
  }

  .product-thumbnail-main {
    box-shadow: none;
  }

  .product-details {
    margin-inline: 4rem;
  }

  .shopping-cart-open {
    position: fixed;
    top: 34.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 27rem;
    min-height: 18rem;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
  }

  .shopping-cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transform: translateY(20%);
  }

  .light-box {
    display: none;
  }

  .product-thumbnail-main:hover {
    cursor: auto;
  }
}

@media (width <= 36rem) {
  .product-images {
    max-width: 100vw;
  }

  .product-thumbnail-main {
    min-width: 100%;
  }

  .button-add-to-cart,
  .product-quantity {
    min-width: 100%;
    min-height: 3.5rem;
  }

  .product-add-to-cart {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
}

@media (width > 31.25rem) {
  main .previous-button {
    min-width: 3.5rem;
    min-height: 3.5rem;
    right: 95%;
  }

  main .next-button {
    min-width: 3.5rem;
    min-height: 3.5rem;
    left: 95%;
  }
}
