:root {
  --font-family: "Kumbh Sans", sans-serif;
  --primary-text-color: hsl(219, 9%, 45%);
  --border-radius-large: 0.625rem;
  --border-radius-small: 0.5rem;
}

html {
  box-sizing: border-box;
}

body {
  max-inline-size: 100vw;
  margin: auto;
  padding-inline: 3rem;
  border: 1px solid green;
  font-family: var(--font-family);
}

main {
  display: flex;
  /* min-height: 100svh; */
  padding-block: 5rem;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* z-index: 1; */
}

header {
  display: flex;
  align-items: center;
  padding-block: 0.6rem;
  border: 1px solid red;
  border-block-end: 1px solid #e4e9f2;
}

nav {
  flex: 1;
  border: 1px solid blue;
}

header img {
  max-width: min-content;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid orange;
}

nav a {
  margin-inline: 0.8rem;
  padding-block-end: 1.8rem;
  border: 1px solid red;
  text-decoration: none;
  color: var(--primary-text-color);
}

nav a:hover {
  border-block-end: 4px solid orange;
}

button {
  border-radius: var(--border-radius-large);
}

button:hover,
img:hover {
  cursor: pointer;
}

footer {
  border: 1px solid black;
}

.nav-menu-icon {
  /* border: 1px solid green; */
  margin-inline-end: 0.5rem;
}

.account-details {
  border: 1px solid black;
  display: flex;
  align-items: center;
  /* max-block-size: 24px; */
}

/* .account-details img {
  align-items: center;
  justify-content: center;
} */

.account-avatar {
  border-radius: 50%;
}

.account-avatar:hover {
  box-shadow: 0 0 0 1px #ff7e1b;
}

.nav-cart,
.company-logo {
  margin-inline-end: 2.5rem;
}

/* .nav-cart,
.account-avatar {
  max-inline-size: 50px;
} */

/* .company-logo {
  padding-block: auto;
} */

.nav-cart:hover {
  content: url("./images/icon-cart.svg");
}

.shopping-cart-open {
  display: none;
  position: absolute;
  min-width: 360px;
  min-height: 256px;
  margin-inline-end: 3rem;
  right: 0;
  transform: translateY(60%);
  z-index: 2;
  background: white;
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.3);
  color: #69707d;
  font-weight: bold;
}

.shopping-cart-header {
  margin-block-start: 0;
  padding: 1.5em;
  border-block-end: 1px solid #e4e9f2;
}

.shopping-cart-items {
  display: flex;
  transform: translateY(100%);
  align-items: center;
  justify-content: center;
}

.shopping-cart-empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-images {
  /* max-width: 28rem; */
  /* max-inline-size: 100%; */
  border: 1px solid green;
}

.product-images img {
  border-radius: var(--border-radius-large);
  /* border: 1px solid blue; */
}

.product-thumbnail-main {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  max-inline-size: 100%;
}

.product-images span {
  display: grid;
  margin-block-start: 2rem;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid red; */
  gap: 1.75rem;
}

.product-thumbnail-small {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.product-thumbnail-small:hover {
  opacity: 0.5;
}

/* .product-thumbnail-small:active {
  border: 1px solid #ff7e1b;
} */

.product-details {
  /* border: 1px solid pink; */
  transform: translateY(-10%);
}

.company-name {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product-description,
.company-name {
  color: var(--primary-text-color);
}

.product-name {
  font-size: 2.75rem;
}

.product-prices {
  border: 1px solid black;
  font-weight: bold;
}

.product-prices span {
  margin-inline-end: 0.5rem;
}

.discount-price {
  font-size: 1.75rem;
}

.discount-percentage {
  padding: 0.3rem 0.6rem;
  background: #1d2026;
  color: white;
  border-radius: var(--border-radius-small);
}

.original-price {
  margin-block-start: 1rem;
  color: var(--primary-text-color);
}

.product-quantity {
  display: grid;
  min-width: 9.8rem;
  min-height: 3.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-inline-end: 1rem;
  align-items: center;
  background: #f6f8fd;
  font-weight: bold;
  text-align: center;
  border-radius: var(--border-radius-small);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.product-quantity button {
  background: #f6f8fd;
  border: none;
}

.product-quantity img:hover {
  opacity: 0.7;
}

.product-add-to-cart {
  display: flex;
  /* border: 1px solid blue; */
}

.button-add-to-cart {
  min-width: 17rem;
  min-height: 3.5rem;
  background: #ff7e1b;
  border: none;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.button-add-to-cart:hover {
  opacity: 0.7;
}

.button-add-to-cart img {
  max-width: 1rem;
  margin-inline-end: 0.8rem;
}

.nav-menu-icon {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width <= 915px) {
  nav {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    align-items: center;
  }

  .nav-menu-icon {
    display: inline-block;
  }

  .account-details {
    justify-content: end;
  }
}

@media (width <= 768px) {
  body {
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  main {
    border: 1px solid blue;
    align-items: normal;
    display: flex;
    flex-direction: column;
    padding-block: 0;
  }

  /* nav {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    align-items: center;
  }

  .nav-menu-icon {
    display: inline-block;
  }

  .account-details {
    justify-content: end;
  } */

  .product-images span {
    display: none;
  }

  .account-avatar {
    border: 1px solid blue;
    max-block-size: 35px;
  }

  .product-thumbnail-main {
    box-shadow: none;
  }

  .product-thumbnail-small {
    display: none;
  }

  .product-details,
  header {
    margin-inline: 1.5rem;
  }

  .product-prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

  .original-price {
    text-align: end;
    border: 1px solid blue;
    margin-block: auto;
  }

  .discount-percentage {
    max-width: fit-content;
  }

  .product-quantity,
  .button-add-to-cart {
    min-width: 100%;
    margin-inline-end: 0;
    box-shadow: none;
  }

  .product-add-to-cart {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
}
