:root {
  --font-family: "Kumbh Sans", sans-serif;
  --primary-text-color: hsl(219, 9%, 45%);
}

html {
  box-sizing: border-box;
  /* height: 100vh; */
}

body {
  /* display: flex; */
  max-inline-size: 70rem;
  /* height: 740px; */
  margin: auto;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-block: 1rem; */
  border: 1px solid green;
  font-family: var(--font-family);
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid red;
  /* justify-content: center; */
  /* margin-block-start: 1rem; */
}

nav {
  flex: 1;
  /* width: 100%; */
  /* justify-content: end; */
  /* margin-inline-end: 0; */
  border: 1px solid blue;
}

header img {
  /* padding-inline-end: 3rem; */
  border: 1px solid orange;
}

nav a {
  padding-inline: 0.8rem;
  text-decoration: none;
  color: var(--primary-text-color);
  border: 1px solid red;
}

button {
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

footer {
  border: 1px solid black;
}

hr {
  /* font-weight: light; */
  border: none;
  border: 0.5px solid #e4e9f2;
}

/* img {
  border-radius: 10px;
} */

.account-details {
  border: 1px solid black;
  /* margin-inline-start: 0; */
  /* display: flex; */
  /* margin: auto; */
  /* block-size: auto; */
  /* align-items: flex-end */
  /* margin-inline: auto; */
}

/* .account-details img {
  border: 1px solid orange;
  margin-block: auto;
} */

.nav-cart,
.company-logo {
  margin-inline-end: 2.5rem;
}

.product-images {
  max-width: 28rem;
  /* border: 1px solid green; */
}

.product-images img {
  /* display: grid; */
  border-radius: 10px;
  border: 1px solid blue;
  /* gap: 20px; */
}

.product-images span {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.75rem;
  margin-block-start: 2rem;
}

.product-details {
  border: 1px solid pink;
  /* max-inline-size: 28rem; */
  /* margin-block: auto; */
}

.company-name {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.product-description,
.company-name {
  color: var(--primary-text-color);
}

.product-name {
  font-size: 2.75rem;
}

/* .product-description {
  font-size: 1rem;
} */

.product-prices {
  font-weight: bold;
  border: 1px solid black;
}

.product-prices span {
  margin-inline-end: 0.5rem;
  /* border: 1px solid blue; */
}

.discount-price {
  font-size: 1.75rem;
}

.discount-percentage {
  padding: 0.3rem 0.6rem;
  background: #1d2026;
  color: white;
  border-radius: 8px;
}

.original-price {
  margin-block-start: 1rem;
  color: var(--primary-text-color);
}

.product-quantity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline-end: 1rem;
  align-items: center;
  min-width: 9.8rem;
  min-height: 3.5rem;
  background: #f6f8fd;
  font-weight: bold;
  text-align: center;
  border-radius: 7px;
  /* border: 1px solid black; */
}

.product-quantity button {
  background: #f6f8fd;
  border: none;
}

.product-add-to-cart {
  display: flex;
  /* border: 1px solid blue; */
}

.button-add-to-cart {
  min-width: 17rem;
  background: #ff7e1b;
  border: none;
  font-weight: bold;
}

.button-add-to-cart img {
  max-width: 1rem;
  margin-inline-end: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
